#main{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);

}

#main1{
    height: 300px;
    width: 1000px;
    
}
#main2{
    height: 300px;
    width: 1000px;
    
}
#main3{
    height: 300px;
    width: 1000px;
    
}
.area{
    height: 100%;
    width: 30%;
    border-radius: 2px;
    border: 2px solid #73AD21;
    float: left;
    margin-top: 1%;
    margin-left: 2%;

}

